<nav class="nav">
  <div class="container--flex">
    <a class="nav__link--brand" routerLink="/">
      <app-icon name="brand"></app-icon>
      Tododim
    </a>
    <button
      (click)="toggleNavbar()"
      aria-label="Show navbar button"
      class="nav__button--toggle"
    >
      <app-toggle-menu-icon [isMenuOpen]="isNavbarShown"></app-toggle-menu-icon>
    </button>
    <section [class.active]="isNavbarShown" class="navbar">
      <ul class="navbar__list">
        <li class="navbar__item">
          <button class="button--link">Log In</button>
        </li>
        <li class="navbar__item">
          <button class="button--link">Sign Up</button>
        </li>
        <li class="navbar__item">
          <button class="button--outline--rounded">Try it now</button>
        </li>
      </ul>
    </section>
  </div>
</nav>
