svg {
  &.open {
    #top,
    #bottom {
      stroke-dashoffset: -16;
    }

    #middle {
      transform: translateX(-100%);
    }
  }

  #top,
  #bottom {
    stroke-dasharray: 23 23;
    stroke-dashoffset: 7;

    transition: stroke-dashoffset 250ms;
  }

  #middle {
    transition: transform 300ms;
  }
}
