@use "utilities/mixins/media";

.sign-up-modal {
  &__title {
    font-size: 3rem;
    margin-bottom: 0;
  }

  &__subtitle {
    font-weight: normal;
    color: var(--color-muted);
    margin-bottom: 1.6rem;
  }

  &__provider-button {
    margin-bottom: 1rem;
  }

  &__divider {
    height: 0.06rem;
    background-color: hsla(var(--color-dark-hsl), 0.2);
    width: 100%;
    margin: 1.6rem 0;
  }

  &__log-in {
    margin-bottom: 0.3rem;
  }
}

@include media.md {
  .sign-up-modal {
    padding: 2.5rem;
  }
}
