<div class="modal-wrapper" id="signUpModal">
  <div class="modal-wrapper__dimmer" (click)="hideModal()"></div>
  <section class="modal modal--light sign-up-modal">
    <h2 class="sign-up-modal__title">Sign Up</h2>
    <h3 class="sign-up-modal__subtitle">Create an account</h3>
    <app-google-button class="sign-up-modal__provider-button" (click)="signUpWithGoogle()"
                       text="Sign Up with Google"></app-google-button>
    <div *ngIf="errorMessage" class="text--error">Error message: {{errorMessage}}</div>
    <div class="sign-up-modal__divider"></div>
    <p class="sign-up-modal__log-in">
      Already have an account?
    </p>
    <button class="button button-link--primary text--bold" (click)="showLogInModal()">
      Log In
    </button>
  </section>
</div>
