<nav class="nav">
  <div class="nav__container container">
    <a class="nav__link--brand" routerLink="/">
      <app-icon class="link__icon" name="brand"></app-icon>
      <span class="link__text">Tododim</span>
    </a>
    <button class="nav__button--toggle button button--light" (click)="toggleNavbar()" aria-label="Show navbar">
      <app-toggle-menu-icon [isMenuOpen]="isNavbarShown"></app-toggle-menu-icon>
    </button>
    <section class="navbar nav__navbar" [class.is-active]="isNavbarShown">
      <ul class="navbar__list">
        <li class="navbar__item">
          <button class="button button-link--dark" (click)="showLogInModal()">
            Log In
          </button>
        </li>
        <li class="navbar__item">
          <button class="button button-link--dark" (click)="showSignUpModal()">
            Sign Up
          </button>
        </li>
        <li class="navbar__item">
          <a routerLink="app" class="button button-outline--primary">Try it now</a>
        </li>
      </ul>
    </section>
  </div>
</nav>
