<div class="modal-wrapper" id="logInModal">
  <div class="modal-wrapper__dimmer" (click)="hideModal()"></div>
  <section class="modal modal--light log-in-modal">
    <h2 class="log-in-modal__title">Log In</h2>
    <h3 class="log-in-modal__subtitle">Log in into existing account</h3>
    <app-google-button class="log-in-modal__provider-button" (click)="logInWithGoogle()"
                       text="Log In with Google"></app-google-button>
    <div *ngIf="errorMessage" class="text--error">Error message: {{errorMessage}}</div>
    <div class="log-in-modal__divider"></div>
    <p class="log-in-modal__sign-up">
      Not a member?
    </p>
    <button class="button button-link--primary text--bold" (click)="showSignUpModal()">
      Sign up
    </button>
  </section>
</div>
