:root {
  --border-radius-rounded: 0.25rem;

  --container-max-width: 62.5rem;
  --container-padding: 0 1rem;

  --icon-size: 1.5rem;

  --nav-height: 3.75rem;
}

:root {
  --color-primary: hsl(162, 62%, 24%);
  --color-primary-lighter: hsl(162, 62%, 35%);
  --color-primary-darker: hsl(162, 62%, 16%);

  --color-dark: hsl(0, 0%, 15%);
  --color-dark-hsl: 0, 0%, 15%;

  --color-light: hsl(0, 0%, 100%);
  --color-light-darker: hsl(0, 0%, 94%);

  --color-icon: var(--color-dark);
  --color-icon-accent: var(--color-primary);

  --color-muted: hsl(0, 0%, 36%);
  
  --color-danger: hsl(0, 100%, 50%);
}

:root {
  --padding-0: 0;
  --padding-1: 0.125rem;
  --padding-2: 0.25rem;
  --padding-3: 0.5rem;
  --padding-4: 1rem;
  --padding-5: 1.5rem;
  --padding-6: 3rem;

  --margin-0: 0;
  --margin-1: 0.125rem;
  --margin-2: 0.25rem;
  --margin-3: 0.5rem;
  --margin-4: 1rem;
  --margin-5: 1.5rem;
  --margin-6: 3rem;
}
