:root {
  --border-radius-rounded: 0.25rem;

  --container-max-width: 62.5rem;
  --container-padding: 0 1rem;

  --icon-size: 1.5rem;

  --nav-height: 3.75rem;
}

:root {
  --color-primary: hsl(248, 15%, 11%);
  --color-primary-text: var(--color-light);
  --color-primary-hsl: 248, 15%, 11%;
  --color-primary-lighter: hsl(235, 16%, 15%);
  --color-primary-darker: hsl(232, 15%, 8%);

  --color-accent: hsl(171, 87%, 68%);
  --color-accent-text: var(--color-light);
  --color-accent-hsl: 171, 87%, 68%;
  --color-accent-lighter: hsl(185, 80%, 59%);
  --color-accent-darker: hsl(185, 80%, 49%);

  --color-dark: hsl(210, 11%, 15%);
  --color-dark-text: var(--color-light);
  --color-dark-hsl: 210, 11%, 15%;
  --color-dark-lighter: hsl(210, 12%, 20%);
  --color-dark-darker: hsl(204, 10%, 10%);

  --color-light: hsl(0, 0%, 95%);
  --color-light-text: var(--color-dark);
  --color-light-hsl: 0, 0%, 95%;
  --color-light-lighter: hsl(0, 0%, 100%);
  --color-light-darker: hsl(0, 0%, 88%);

  --color-icon: var(--color-light);
  --color-icon-accent: var(--color-accent);

  --color-muted: hsl(0, 0%, 50%);

  --color-danger: hsl(0, 100%, 50%);
}

:root {
  --padding-0: 0;
  --padding-1: 0.125rem;
  --padding-2: 0.25rem;
  --padding-3: 0.5rem;
  --padding-4: 1rem;
  --padding-5: 1.5rem;
  --padding-6: 3rem;

  --margin-0: 0;
  --margin-1: 0.125rem;
  --margin-2: 0.25rem;
  --margin-3: 0.5rem;
  --margin-4: 1rem;
  --margin-5: 1.5rem;
  --margin-6: 3rem;
}
