.link {
  --color: inherit;
  --color-hover: inherit;

  display: flex;
  align-items: center;
  color: var(--color);
  transition: color 300ms;

  &:hover {
    color: var(--color-hover);
  }

  &-with-icon .icon {
    display: flex;
    margin-right: 0.4rem;
  }

  &--primary {
    --color: var(--color-primary);
    --color-hover: var(--color-primary-darker);
  }
}
