.text--primary {
  color: var(--color-primary);
}

.text--muted {
  color: var(--color-muted);
}

.text--danger {
  color: var(--color-danger);
}

.text--bold {
  font-weight: bold;
}

.text--error {
  color: var(--color-danger);
  font-weight: bold;
}
