@use "utilities/mixins/media";

.header {
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;

  &__title {
    text-align: center;
    font-size: clamp(2.4rem, 6vw, 4rem);
  }

  &__section {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
  }

  &__divider {
    margin: 1rem 0;
  }
}

@include media.md {
  .header {
    &__section {
      font-size: 1.4rem;
    }
  }
}
