<app-nav></app-nav>
<header class="header">
  <div class="container--flex--center">
    <h1 class="header__title">
      Organise your tasks <br />
      with <span class="text--primary">Tododim</span>
    </h1>
    <section class="header__section">
      <button class="button--primary--rounded">Create an account</button>
      <span class="header__divider">or</span>
      <button class="button--primary--outline--rounded">
        Try without an account
      </button>
    </section>
  </div>
</header>
