<app-home-nav></app-home-nav>

<header class="header">
  <div class="header__container container">
    <h1 class="header__title">
      Organise your tasks <br/>
      with <span class="text--primary">Tododim</span>
    </h1>
    <section class="header__content">
      <button class="button button--primary" (click)="showSignUpModal()">
        Create an account
      </button>
      <span class="header__divider">or</span>
      <a routerLink="app" class="button button-outline--primary">
        Try without an account
      </a>
    </section>
  </div>
</header>

<app-auth-modals></app-auth-modals>
