<app-home-nav></app-home-nav>

<header class="header">
  <div class="header__container container">
    <h1 class="header__title">
      Organise your tasks <br/>
      with <span class="header__brand">Tododim</span>
    </h1>
    <section class="header__content">
      <button class="header__button--create-account" (click)="showSignUpModal()">
        Create an account
      </button>
      <span class="header__divider">or</span>
      <a routerLink="app" class="header__button--try-demo">
        Try without an account
      </a>
    </section>
  </div>
</header>

<app-sign-up-modal></app-sign-up-modal>
<app-log-in-modal></app-log-in-modal>
